body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      margin: 0;
      padding: 20px;
    }

    .step-tabs {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      margin: auto;
      margin-bottom: 30px;
      background:white;
      padding: 10px 15px;
     
    }

    .step-tabs .step {
      flex: 1;
      text-align: center;
      padding: 10px;
      color: #555;
      margin: 0 5px;
    }

    .step-tabs .active {
      background: #008CBA;
      color: white;
      
    }

    .form-box {
      max-width: 1000px;
      margin: auto;
      background: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .form-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    .form-row div {
      flex: 1;
      margin: 0 10px;
    }

    label {
      
      display: block;
      margin-bottom: 5px;
    }

    select, input[type="date"], input[type="time"] {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .form-buttons button {
      padding: 10px 20px;
      border: none;
      color: white;
      background-color: #008CBA;
      cursor: pointer;
    }

    .form-buttons button:last-child {
      background-color: #ff4081;
    }

